﻿@model PagingViewModel<Product>

<table class="table table-striped table-bordered border-primary align-middle text-center">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="product_list">
        <partial name="_ProductsPage" model="@Model.Items" />
    </tbody>
</table>

@if (Model.PageSize * Model.CurrentPage < Model.TotalRecords)
{
    <form class="w-100 d-flex justify-content-center mt-3"
      data-ajax="true"
      data-ajax-url="_NextPage"
      data-ajax-update="#product_list"
      data-ajax-mode=after
      data-ajax-success="$('#readmore-current-page').get(0).value++; if($('#readmore-current-page').val()*@Model.PageSize >= @Model.TotalRecords) $(this).remove();">

        <button id="scroll-button" type="submit" class="btn btn-link"><i class="bi bi-plus-circle"></i></button>

        <input id="readmore-current-page" asp-for="CurrentPage" type="hidden">
        <input id="readmore-size-page" asp-for="PageSize" type="hidden">
        <input id="readmore-page-filter" asp-for="Filter" type="hidden">
    </form>
}