﻿@model PagingViewModel<Product>

<table class="table table-striped table-bordered border-primary align-middle text-center">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <partial name="_ProductsPage" model="@Model.Items" />
    </tbody>
</table>

<paging ajax=true
        ajax-update="#items"
        ajax-url="?handler=ItemsList"
        total-records="@Model.TotalRecords"
        page-size="@Model.PageSize"
        page-no="@Model.CurrentPage"
        show-page-size-nav="false"
        show-total-pages="false"
        show-total-records="false"
        class-paging-control="pagination justify-content-center mt-3"
        text-first=""
        text-last=""
        text-next=""
        text-previous=""
        sr-text-first="<i class='bi bi-skip-backward'></i>"
        sr-text-last="<i class='bi bi-skip-forward'></i>"
        sr-text-next="<i class='bi bi-caret-right'></i>"
        sr-text-previous="<i class='bi bi-caret-left'></i>">
</paging>