﻿@model PagingViewModel<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form data-ajax="true"
      data-ajax-url="_IndexScrollPartial"
      data-ajax-update="#index-partial"
      class="row mt-3 mb-3">

    <div class="col-lg-5 col-md-7 col-sm-9 col-xs-12 mx-auto">
        <div class="input-group">
            <input asp-for="Filter" class="form-control" oninput="toggleClearSearch();" />
            <input asp-for="CurrentPage" type="hidden" />
            <input asp-for="PageSize" type="hidden" />
            <button id="clear-search"
                    class="btn d-none"
                    style="background-color:#a9bdbd"
                    onclick="clearSearch();">
                <i class="bi bi-x-lg text-danger"></i>

            </button>

            <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
            <a asp-action="Create" class="btn btn-secondary"><i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
</form>

<div id = "index-partial" class="col-lg-5 col-md-7 col-sm-9 col-xs-12 mx-auto">
    <partial name="_IndexScrollPartial" model="@Model" />
</div>


@section Scripts{
    <script>
        function toggleClearSearch() {

            $("#clear-search").toggleClass('d-none', !Boolean($("#Filter").val()));
        }

        function clearSearch() {
            $("#Filter").val("").click();
            $("#clear-search").addClass('d-none');
        }

        $(document).ready(function(){

            var loadMore = true;

            if ($('#scroll-button').length > 0 &&  loadMore === true) {
                initInfiniteScrollObserver();
            }

            function initInfiniteScrollObserver(){

                infScrollObserver = new IntersectionObserver(function(observables){
                    
                    observables.forEach(function(observable){

                        if (observable.intersectionRatio > 0.25) {
                            $('#scroll-button').trigger('click');
                        }
                    });

                }, {threshold:[0.25]});

                infScrollObserver.observe(document.querySelector('#scroll-button'));
            }
        });

    </script>
}