﻿@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <input type="text"
           class="form-control"
           placeholder="Search"
           oninput="findByDescription(this.value);" />
</div>

<table class="table">
    <thead >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="product_list" >
       <partial name="_ProductsPage" model="@Model"/>
    </tbody>
</table>

@section Scripts{
    <script>
        function findByDescription(search) {

            $.ajax({
                type:"Get",
                url: "/Products/_GetByDescription?desc=" + search,
                success: function(resp){
                    $("#product_list").html(resp);
                }
            });
        }

        function findByDescriptionVanilla(search) {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/Products/_GetByDescription?desc=" + search, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var resp = xhr.responseText;
                    document.getElementById("product_list").innerHTML = resp;
                }
            };
            xhr.send();
        }
    </script>
}