﻿@model PagingViewModel<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form data-ajax="true"
      data-ajax-url="_IndexPartial"
      data-ajax-update="#product_list"
      class="row mt-3 mb-3">

    <div class="col-lg-5 col-md-7 col-sm-9 col-xs-12 mx-auto">
        <div class="input-group">
            <input asp-for="Filter" class="form-control" oninput="toggleClearSearch();" />
            <button id="clear-search"
                    class="btn d-none"
                    style="background-color:#a9bdbd"
                    onclick="clearSearch();">
                <i class="bi bi-x-lg text-danger"></i>

            </button>

            <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
            <a asp-action="Create" class="btn btn-secondary"><i class="bi bi-plus-circle"></i></a>
        </div>
        <input asp-for="PageSize" type="hidden" />
    </div>
</form>

<div class="col-lg-5 col-md-7 col-sm-9 col-xs-12 mx-auto">
    <table class="table table-striped table-bordered border-primary align-middle text-center">
        <thead>
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="product_list">
            <partial name="_ProductsPage" model="@Model.Items" />
        </tbody>
    </table>
</div>


@section Scripts{
    <script>
        function toggleClearSearch() {

            $("#clear-search").toggleClass('d-none', !Boolean($("#Filter").val()));
        }

        function clearSearch() {
            $("#Filter").val("").click();
            $("#clear-search").addClass('d-none');
        }

    </script>
}