﻿@model PagingViewModel<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method ="get" class="row mt-3 mb-3">

    <div class="col-lg-5 col-md-7 col-sm-9 col-xs-12 mx-auto">
        <div class="input-group">
            <input id="search" name="q" value="@(Context.Request.Query["q"])" class="form-control" oninput="toggleClearSearch();" />

            <a id="clear-search"
                asp-action="IndexPagined"
                class="btn d-none"
                style="background-color:#a9bdbd"><i class="bi bi-x-lg text-danger"></i></a>

            <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
            <a asp-action="Create" class="btn btn-secondary"><i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
</form>

<div id="items" class="col-lg-5 col-md-7 col-sm-9 col-xs-12 mx-auto">
    <partial name="_IndexPartialPagined" model="@Model"/>
</div>

@section Scripts{
    <script>
        function toggleClearSearch() {

            $("#clear-search").toggleClass('d-none', !Boolean($("#search").val()));
        }

        $(document).ready(function(){
            toggleClearSearch();
        });

    </script>
}