﻿@model PagingViewModel<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method ="get" class="row mt-3 mb-3">

    <div class="col-lg-5 col-md-7 col-sm-9 col-xs-12 mx-auto">
        <div class="input-group">
            <input id="search" name="q" value="@(Context.Request.Query["q"])" class="form-control" oninput="toggleClearSearch();" />

            <a id="clear-search"
                asp-action="IndexPaginedAndSorted"
                class="btn d-none"
                style="background-color:#a9bdbd"><i class="bi bi-x-lg text-danger"></i></a>

            <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
            <a asp-action="Create" class="btn btn-secondary"><i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
</form>

<div class="col-lg-5 col-md-7 col-sm-9 col-xs-12 mx-auto">
    <table class="table table-striped table-bordered border-primary align-middle text-center">
        <thead>
            <tr>
                <th>
                    <a asp-route-q="@Model.Filter" asp-route-sort="description" asp-route-direction="@Model.SwitchDirection()">Description</a>
                </th>
                <th>
                    <a asp-route-q="@Model.Filter" asp-route-sort="prix" asp-route-direction="@Model.SwitchDirection()">Price</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <partial name="_ProductsPage" model="@Model.Items" />
        </tbody>
    </table>
</div>

<paging total-records="@Model.TotalRecords"
        page-size="@Model.PageSize"
        page-no="@Model.CurrentPage"
        show-page-size-nav="false"
        show-total-pages="false"
        show-total-records="false"
        class-paging-control="pagination justify-content-center mt-3"
        text-first=""
        text-last=""
        text-next=""
        text-previous=""
        sr-text-first="<i class='bi bi-skip-backward'></i>"
        sr-text-last="<i class='bi bi-skip-forward'></i>"
        sr-text-next="<i class='bi bi-caret-right'></i>"
        sr-text-previous="<i class='bi bi-caret-left'></i>">
</paging>


@section Scripts{
    <script>
        function toggleClearSearch() {

            $("#clear-search").toggleClass('d-none', !Boolean($("#search").val()));
        }

        $(document).ready(function(){
            toggleClearSearch();
        });

    </script>
}