﻿@model int

@{
    ViewData["Title"] = "Product Not Found";
}

<div class="alert alert-danger mt-3 mb-3">
    <h4>Not Found Error</h4>
    <h5>Product with id = @Model cound not be found</h5>
</div>

<a asp-controller="Products" asp-action="Index">All available products</a>