﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Pour tester la récupération de données depuis la configuration-->
    <div class="text-danger text-center">@Model</div>

    <div class="text-secondary text-center">
        Il est @DateTime.Now.ToLongTimeString(); 
    </div>
</div>

<a asp-controller ="Home" asp-action="Index">Refresh to test cache</a>
