﻿@model Personnage

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h4 class="text-danger">@ViewBag.tmpDataFromAction</h4>
    <h4 class="text-danger">@ViewBag.tmpDataFromView</h4>
</div>

<div class="text-center text-secondary">
    @ViewBag.myCookie
</div>

<div class= "text-center text-success">
    <h2> @Model.Prenom @Model.Nom</h2>
</div>
