﻿@{
    ViewData["Title"] = "Privacy Policy";

    var maList = ViewData["stringList"] as IList<string>;

    TempData["tmpDataFromView"] = "Data from View 'Privacy' with TempData";

}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h2 class="text-danger">@ViewBag.Message</h2>
<h2 class="text-danger">@ViewData["cle"]</h2>

<ul>
    @if (maList is not null)
    {
        @foreach (var str in maList)
        {
            <li>
                @str
            </li>
        }
    }
</ul>