﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _03_RazorPages</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_03_RazorPages.styles.css" asp-append-version="true" />
</head>
<body>
   @* On a remplacé le header par une vue partielle*@
    <partial name="_HeaderCustom"/>
    <div class="container">
        <main role="main" class="pb-3">
            <!-- Maximum un appel de RenderBody -->
            @RenderBody()
        </main>
    </div>

    @* On a remplacé le footer par une vue partielle*@
    <partial name="_FooterCustom"/>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- RenderSection permet d'envoyer du contenu depuis les vules filles. Il peut appelé plusieurs fois.-->
    @await RenderSectionAsync("sectionFromPrivacyView", required: false)
</body>
</html>
