﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _06_TP_MVC</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/BootSwachtSolarTheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- ------------------------ CSS TOASTR --------------------- -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">_06_TP_MVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Products</a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-controller="Products" asp-action="Index">Default</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-controller="Products" asp-action="IndexFiltered">Ajax filterd</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-controller="Products" asp-action="IndexFilteredUnobstrusive">Ajax filterd Unobstrusive</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-controller="Products" asp-action="IndexPagined">Pagined</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-controller="Products" asp-action="IndexAjaxPagined">Ajax Pagined</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-controller="Products" asp-action="IndexScroll">Scroll</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-controller="Products" asp-action="IndexPaginedAndSorted">Pagined And Sorted</a>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Users</a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-controller="Users" asp-action="Index">Default</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-controller="Users" asp-action="IndexPagined">Pagined</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification"/>
            <alert-success render-mode="Bootstrap5" show-icons=true icons-source="Bootstrap5"></alert-success>
            <alert-danger render-mode="Bootstrap5" show-icons=true icons-source="Bootstrap5"></alert-danger>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - _06_TP_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- ------------------------ CDN AJAX UNOBSTRUSIVE --------------------- -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
