﻿@using _04_TagHelpers.Helpers
@model Employe

<div>
    @*<p><a href="mailto:riri@gmail.com">Riri</a> est junior et gagne 2000€ </p>*@
    <div><a href="mailto:@Model.Email">@Model.Name</a> est @Model.Type et gagne @Model.Salary €</div>

    <employe name=@Model.Name salary=@Model.Salary type=@Model.Type email=@Model.Email/>

    @Html.Employe(@Model.Name, @Model.Salary.ToString(), @Model.Type.ToString(), @Model.Email)

</div>