﻿@model Employe

<h1>New Employe</h1>

@using (Html.BeginForm("Bonjour", "Employe", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="mb-3">
        @Html.LabelFor(model => model.Name)
        @*@Html.TextBoxFor(model => model.Name, new {@class ="form-control"})*@
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new {@class ="form-control"}})
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Salary)
        @Html.EditorFor(model => model.Salary, new { htmlAttributes = new {@class ="form-control"}})
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.IsActif)
        @Html.EditorFor(model => model.IsActif, new { htmlAttributes = new {@class ="form-Check-input"}})
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Email)
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new {@class ="form-control"}})
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Type)

        @Html.DropDownListFor(model => model.Type, Html.GetEnumSelectList<EmployeType>(), "Select Type", new {@class ="form-control"})
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.DepartmentId)
        @Html.EditorFor(model => model.DepartmentId, new { htmlAttributes = new {@class ="form-control"}})
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}
