﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-success">
    <p>
        Razor est un moteur de rendu supporté par ASP.NET MVC
    </p>
    <p>
        Razor permet de mélanger le HTML avec un la,gage côté serveur. Visual Basic (.vbhtml) ou c# (.cshtml).
    </p>
    <p>
        Les symbole @@ est utilisée pour atteindre des variaables côté serveur.
    </p>
</div>
