﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section sectionFromPrivacyView
{
    <p class="text-danger text-center">Contenu rendu en dehors du main (RenderBody) par un "RenderSection" depuis le "CustomLayout"</p>
}
