﻿@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "All Roles";
}

<h1>All Roles</h1>

<p>
    <a asp-action="CreateRole">Create New Role</a>
</p>


@foreach (var role in Model)
{
    <div class="card mb-3">
        <div class ="card-header">
            Role Id : @role.Id
        </div>

        <div class="card-body">
            <h5 class="card-title">@role.Name</h5>
        </div>

        <div class="card-footer">
            <form method = "post" asp-action="DeleteRole" asp-route-id="@role.Id">
                <a asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                <button type="submit" class="btn btn-danger" onclick="return confirm('Are U sure U want to delete role: @role.Name ?')">Delete</button>
            </form>
        </div>
    </div>
}
